{#
 # Passed in variables:
 #   record    — Record data
 #   recipient — Email recipient data
 #}
<p>Hi {{ recipient.email }},</p>

<p>A new {{ record.contenttype.singular_name }} has been published : <a href="{{ app.paths.rooturl }}{{ record.link|slice(1) }}">{{ record.title }}</a>.</p>
<hr>

<em>Sent from <a href="{{ app.paths.rooturl }}">{{ app.config.get('general/sitename') }}</a>.</em>
