{% set extension_config = app['bolt-simple-comment.config'] %}
<div id="bscsFormContainer">
    <h4>{{ __('Add a comment') }}</h4>
    {{ form_errors(form) }}
    {{ form_start(form, { attr: { id: 'bscsForm' } } ) }}
        <div class="bscsFormBody">
            <div class="bscsFieldRow bscsFieldBody">
                {{ form_widget(form.body) }}
            </div>
            <div class="bscsFieldRow">
                <div class="bscsFieldAvatar"></div>
                <div class="bscsFieldName">
                    {{ form_widget(form.name) }}
                </div>
                <div class="bscsFieldEmail">
                    {{ form_widget(form.email) }}
                </div>
            </div>
        </div>
        <div class="bscsFormFooter">
            <div class="bscsFieldRow bscsFieldNotify">
                {{ form_widget(form.notify) }}
                {{ form_label(form.notify) }}
            </div>
            <div class="bscsFieldRow bscsFieldAction">
                {{ form_widget(form.post) }}
            </div>
        </div>
        <div class="bscsFieldDetect" style="display:none;">
            <label>{{ __('Keep this field blank') }}</label>
            <input type="text" name="detect" id="bscsDetect" />
        </div>
        {{ form_widget(form.linked_entity) }}
    {{ form_end(form) }}
</div>
